.overview-cards {
    display: flex;
    flex-wrap: wrap;
}

.overview-card {
    flex-shrink: 0;
    width: 20rem !important;
}

/* Portrait orientation tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .overview-card {
        width: 15rem !important;
    }
}

/* Landscape orientation tablets */
@media (min-width: 1024px) and (max-width: 1366px) {}

/* Standard laptop screens */
@media (min-width: 1024px) and (max-width: 1366px) {
    .overview-card {
        width: 12rem !important;
    }
}

/* Larger laptop screens and desktops */
@media (min-width: 1367px) {
    .overview-card {
        width: 15rem !important;
    }

}