.homescreen-h1{
    font-weight: 600;
    font-style: normal;
}

.card-container{
    display: flex;
    justify-content: center;
}

.go-back-btn{
    color: #515151;
    border-radius: 1rem;
    border-color: #296d90;
    cursor: pointer;
    margin-bottom: 1rem;
}